[Unit]
Description=Clone DockerSettings Github Repo
After=network-online.target
Wants=network-online.target
ConditionPathExists=!/home/core/.repo-cloned

[Service]
Type=oneshot
User=core
StandardOutput=journal+console
ExecStart=/usr/local/bin/clone-repo.sh
ExecStart=/bin/touch /home/core/.repo-cloned
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target